.ansible-posts {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.25rem 0;
  }
  code {
    color: $blue-anchor;
  }
  body,
  p,
  li {
    line-height: 1.75rem;
  }
  blockquote p,
  li {
    font-weight: normal;
    font-family: $font-text;
    font-size: $font-sm;
    line-height: 1.75rem;
  }
  max-width: 80ch;
}

.tags {
  list-style: none;
}

.tags li a {
  text-decoration: none;
  font-size: $font-xs;
  padding: 0.5rem;
  background-color: $cyan;
  color: $white;
  border-radius: 4px;
  margin: 1.75rem 0.25rem;
}

.tags li a:hover {
  background-color: $black;
}
