.clipboard {
  font-size: large;
  font-family: $redhat-display;
  text-align: left;
  pre {
    background-color: $pool;
    color: $black;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
    text-align: left;
  }
  code {
    background: none;
  }
  .btn {
    background-color: transparent;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    padding: 0.625rem 2rem;
  }
  .fa-copy {
    color: $black;
    background-color: transparent;
  }
}
