$font-text: RedHatText, "Red Hat Text", Overpass, "Helvetica Neue", Arial, sans-serif;
$font-display: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;

$font-jumbo: 2.5rem; /* equivalent of 40px */
$font-xxl: 2.25rem; /* equivalent of 36px */
$font-xl: 2rem; /* equivalent of 32px */
$font-lg: 1.25rem; /* equivalent of 20px */
$font-md: 1.125rem; /* equivalent of 18px */
$font-sm: 1rem; /* equivalent of 16px */
$font-xs: 0.875rem; /* equivalent of 14px */
