.get-started-nav {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $cyan;
  margin: 0;
  padding: 0.5rem;
  a {
    font-size: $font-md;
    color: $white;
    text-decoration: none;
    &:hover {
      color: $pool !important;
    }
  }
}
