.get-started-nav {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 10px 0 20px;
  .btn {
    font-size: 0.9rem;
    color: $white;
    background-color: $cyan;
    border-width: 1px;
    border-radius: 2px;
    border-color: $cyan;
    padding: .75rem 1rem;
    &:hover {
      background-color: $white !important;
      color: $navy !important;
    }
  }
}
