.hero-container {
  padding: 0 13rem;
  margin: 0 -13rem;
  background-image: url(/images/ansible-collaborative-hero-bkg.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;

  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    padding: 0 2rem;
  }

  /** Navbar overrides for the homepage. **/
  .navbar {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .nav-toggle-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .nav-link-color {
    color: $black !important;
    &:hover {
      color: $cyan !important;
    }
  }
  #blog-title {
    &:hover {
      color: $white !important;
    }
  }
}
