.hero-container {
  max-width: 100%;
  background-image: url(../images/unsplash.jpg);
  background-size: 100%;
  background-color: $pool;
  background-position: bottom;
  background-repeat: no-repeat;
  .navbar {
    margin-bottom: 0 !important;
    border: 0 !important;
    .dropdown-menu {
      background-color: $pool;
      a {
        color: $black !important;
        &:hover {
          color: $white !important;
        }
      }
    }
    .dropdown-item {
      &:hover {
        background-color: $pool !important;
      }
    }
  }
  .nav-link-color {
    color: $black !important;
    &:hover {
      color: $white !important;
    }
  }
  #blog-title {
    color: $black;
    &:hover {
      color: $white !important;
    }
  }
}
