.hero-container {
  padding: 0 13rem;
  margin: 0 -13rem;
  background-image: url(../images/unsplash.jpg);
  background-size: 100%;
  background-color: $banner;
  background-position: bottom;
  background-repeat: no-repeat;

  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    padding: 0 2rem;
  }

  .masthead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    margin-top: 10px;

    .navbar-right {
      li {
        margin-left: 10px;
      }
    }
  }

  .navbar {
    margin-bottom: 0 !important;
    border: 0 !important;
    .dropdown-menu {
      background-color: $pool;
      a {
        color: $black !important;
        &:hover {
          color: $white !important;
        }
      }
    }
    .dropdown-item {
      &:hover {
        background-color: $pool !important;
      }
    }
  }
  .nav-link-color {
    color: $black !important;
    &:hover {
      color: $white !important;
    }
  }
  #blog-title {
    color: $black;
    &:hover {
      color: $white !important;
    }
  }
}
