.homepage-ecosystem-band {
  background-color: $grey94;
  gap: 2rem;
}

.ecosystem-card {
  display: flex;
  min-height: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: $white;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 992px) {
    height: max-content;
  }
}

.ecosystem-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  h3 {
    font-size: $font-lg;
    font-weight: 600;
    text-transform: none;
  }
  p {
    font-size: $font-sm;
    text-transform: none;
    text-align: left;
  }
  a {
    font-size: $font-sm;
    font-weight: 600;
    text-align: center;
  }
  .btn {
    color: $navy;
    background-color: $white;
    border-width: 1px;
    border-radius: 2px;
    border-color: $navy;
    width: fit-content;
    height: auto;
    &:hover {
      background-color: $navy;
      color: $white;
    }
  }
}

.ecosystem-logo {
  width: 8rem;
  float: right;
  @media screen and (max-width: 1170px) {
    width: 6rem;
  }
  @media screen and (max-width: 768px) {
    width: 8rem;
  }
}
