.homepage-blog-band {
  background-color: $white;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.blog-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.blog-content {
  flex: 1;
  padding-right: 20px;
  h3 {
    font-size: 1.5rem;
    text-transform: none;
  }
  p {
    text-align: left;
  }
  img {
    display: none;
  }
}

.blog-author {
  p {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 10px;
  }
}
