.homepage-ansible-band {
  background-color: $grey94;
}

.what-is-ansible {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: $font-md;
    font-weight: bold;
  }
  p {
    font-size: $font-md;
    font-weight: normal;
  }
}

.ansible-image {
  display: flex;

  img {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
