.homepage-contribute-band {
  margin-top: 10px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contribute-content {
  h3 {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.contribute-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 8px;
}

.contribute-box-left {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  p {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .fa-star {
    font-size: 0.8rem;
    color: $navy;
  }
  ul {
    font-size: 0.9rem;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

.contribute-box-right {
  display: flex;
  flex-direction: column;
  p {
    font-size: 0.9rem;
  }
  a {
    color: $navy;
  }
  img {
    width: 75px;
    height: auto;
    float: left;
    margin-left: 5%;
  }
}
