.homepage-events-band {
  background-color: $white;
  text-align: left;
}

.events-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 20px;
}

.events-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.events-content {
  flex: 1;
  a {
    font-family: $redhat-display;
    font-size: 1rem;
    color: $black;
    text-transform: none;
  }
  h3 {
    margin-top: 3rem;
    font-family: $redhat-display;
    font-size: 1.5rem;
    text-transform: none;
  }
  p {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .events-main {
    grid-template-columns: 1fr;
  }
}