.homepage-banner-band {
  background-color: transparent;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
  gap: 10px;
}

.banner-row {
  display: flex;
  flex-direction: row;
}

.banner-main-content {
  width: fit-content;
  border-radius: 10px;
  background-color: $white;
  padding: 2rem;
  flex: 1;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: solid;
  }
  & > p {
    padding-top: 12px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: solid;
  }
}

.banner-main-row {
  display: flex;
  flex-wrap: nowrap;
  & > button {
    font-weight: bold;
  }
}

.banner-clipboard {
  display: flex;
  .btn {
    display: flex;
    flex-direction: row;
    background-color: $white !important;
    color: $cyan !important;
    border-width: 1px;
    border-radius: 2px;
    border-color: $cyan !important;
    margin-right: 1px;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8rem;
    align-items: center;
    padding: .75rem 1rem;
    &:hover {
      background-color: $cyan !important;
      color: $white !important;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }

  a {
      @media screen and (max-width: 768px) {
      width: 100%;
      }
    }
}

.popup {
  display: flex;
  padding: 0 3px;
  background-color: $black !important;
  color: $grey94 !important;
  border-radius: 1px;
  font-size: 0.8rem;
  align-items: center;
}

.popup.hidden {
  display: none;
}

.banner-platform-learn {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  white-space: nowrap;
  & > a {
    color: $black;
  }
}

.banner-redhat-logo {
  margin-left: 10px;
}

.banner-welcome-image {
  display: flex;
  flex: 1;
  img {
    width: 25rem;
    max-width: none;
    padding-left: 4rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1170px) {
  .banner-row {
    flex-direction: column;
  }

  .banner-platform-learn {
    white-space: normal;
  }

  .banner-welcome-image img {
    width: 25rem;
    padding-top: 2rem;
    padding-left: 0;
  }

  .banner-welcome-image {
    justify-content: center;
  }
}
