.homepage-bullhorn-band {
  background-color: $pool;
  color: $black;
}

.bullhorn-content {
  display: grid;
}

.bullhorn-image {
  img {
    max-width: none;
  }
}

.bullhorn-subscribe {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
  }
  .subscribe-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
  }
  .subscribe-input {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .button {
    background-color: $cyan;
    color: $white;
    border: 0;
    border-radius: 2px;
    padding: 10%;
    width: fit-content;
    height: 30px;
    text-transform: none;
    text-align: center;
    font-size: 0.8rem;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

@media screen and (max-width: 1170px) {
}

@media screen and (max-width: 768px) {
  .bullhorn-image {
    display: none;
  }
}
