.homepage-blog-band {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: $grey94;
}

.blog-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.blog-content {
  flex: 1;
  padding-right: 20px;
  h3 {
    font-family: $redhat-display;
    font-size: 1.5rem;
    text-transform: none;
  }
  p {
    text-align: left;
  }
}
