.homepage-platform-band {
  padding-bottom: 2rem;
  margin: 6rem auto;
  text-align: left;
}

.learn-more {
  a {
    background-color: $red-hat-red;
    color: $white;
    font-weight: 700;
    padding: 0.625rem 2rem;
    &:hover {
      background-color: $red-hat-red;
      color: $black;
    }
  }
}
