.homepage-tab-menu-band {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $grey94;
  display: grid;
  grid-template-columns: repeat(5 1fr);
  gap: 20px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.tab-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tab-menu-box {
  a {
    text-decoration: none;
  }
  .btn {
    display: flex;
    padding: 20px;
    font-size: 0.9rem;
    align-items: center;
  }
  img {
    float: left;
    width: auto;
    height: 40px;
  }
  &:hover {
    background-color: $white;
    color: $navy;
  }
}
