.homepage-community-band {
  background-color: $white;
}

.community-socials-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.community-social-icons {
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}

.community-social-text {
  font-size: 2.5rem; /* sets the size of the fa icons */
  text-decoration: none;
  color: $cyan;
  &:hover {
    color: $black !important;
  }
  .fa .fa-matrix-org .fa-mastodon {
    color: $cyan;
    background-color: transparent;
  }
  p {
    font-size: $font-md;
  }
}

@media screen and (max-width: 768px) {
  .community-socials-row {
    width: 100%;
  }
  .community-social-text {
    p {
      font-size: $font-sm;
      padding-right: 0.375rem;
    }
  }
}
