/* styles for anchors and links */

/* controls anchors on the homepage
   that act like buttons */
.homepage-anchor {
  padding: 0.75rem;
  background-color: $cyan;
  color: $white;
  font-size: $font-md;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    color: $white !important;
    background-color: $black !important;
  }
}

.doc-link {
  a {
    color: $blue-anchor;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    margin-left: 1.2rem;
  }
}

.doc-link-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.continue-link {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-top: .5rem;
  color: $blue-anchor;
  gap: 0.75rem;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* overrides homepage-anchor */
.platform-anchor {
  width: 100%;
  background-color: $red-hat-red;
  white-space: inherit;
}

/* controls text elements next to
   anchors, such as fa icons */
.homepage-link {
  color: $blue-anchor;
  white-space: nowrap;
}
