.homepage-contribute-band {
  margin-top: 0;
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contribute-content {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.contribute-box-left {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  ul {
    font-size: 0.9rem;
    list-style-type: circle;
    margin: 0%;
  }
  p {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.contribute-box-right {
  display: flex;
  flex-direction: row;
  img {
    height: 172px;
    width: auto;
    margin-left: 7rem;
  }
}
