.homepage-blog-band {
  background-color: $white;
}

.blog-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @media screen and (max-width: 1170px) {
    flex-direction: column;
  }
}

.blog-content {
  flex: 1;
  padding-right: 4rem;
  @media screen and (max-width: 1170px) {
    padding-right: 0;
    padding-bottom: 2rem;
  }
  h3 {
    font-size: $font-lg;
    text-transform: none;
  }
  p {
    text-align: left;
  }
  img {
    display: none;
  }
}

.blog-author {
  p {
    font-size: $font-xs;
    text-align: left;
    padding-bottom: 10px;
  }
}
