.homepage-events-band {
  background-color: $white;
  text-align: left;
}

.events-content {
  flex: 1;
  a {
    font-size: $font-sm;
    color: $black;
    text-transform: none;
  }
  p {
    text-align: left;
    font-size: $font-md;
  }
  .event-image {
    display: flex;
    width: 100%;
    height: 12.5rem;
    max-height: 12.5rem;
    align-items: center;
  }
  img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
  }
  .event-title {
    display: flex;
    h3 {
      font-size: $font-lg;
      text-transform: none;
      font-weight: 500;
    }
  }
  .event-description {
    display: flex;
    margin-bottom: 1rem;
    max-width: 40ch;
  }
  .event-details {
    display: inline-block;
    width: 100%;
    max-height: 1rem;
    font-weight: 500;
  }
}
