.homepage-blog-band {
  background-color: $grey94;
}

.blog-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @media screen and (max-width: 1170px) {
  flex-direction: column;
  }
}

.blog-content {
  flex: 1;
  padding-right: 4rem;

    @media screen and (max-width: 1170px) {
    padding-right: 0;
    padding-bottom: 2rem;
    }

  h3 {
    font-family: $redhat-display;
    font-size: 1.5rem;
    text-transform: none;
  }
  p {
    text-align: left;
  }
}

.blog-author {
  p {
    font-size: 1.0rem;
    text-align: right;
  }
}
