.homepage-automate-band {
  background-color: $white;
}

.automate-content {
  h3 {
    font-family: $redhat-display;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    font-family: $redhat-display;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
