.homepage-tab-menu-band {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $grey94;
  display: grid;
  grid-template-columns: repeat(5 1fr);
  @media screen and (max-width: 1400px) {
    display: none;
  }
}

.tab-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $cyan;
  }
}

.tab-menu-anchor {
  display: flex;
  padding: 1.75rem 1.75rem 1rem 1rem;
  justify-content: center;
  font-size: $font-md;
  line-height: 30px;
  gap: .75rem;
  p {
    white-space: nowrap;
  }
  &:hover {
    background-color: $white;
    color: $navy;
  }
}

.tab-menu-icon {
  float: left;
  font-size: $font-xl;
  text-align: center;
}
