.homepage-banner-band {
  background-color: transparent;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10px;
}

.banner-row {
  display: flex;
  flex-direction: row;
}

.banner-welcome-image {
  flex: 1;
  img {
    margin-left: 125px;
  }
}

.banner-main-content {
  border-radius: 10px;
  background-color: $white;
  padding: 2rem;
  flex: 1;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: solid;
  }
  & > p {
    padding-top: 12px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: solid;
  }
}

.banner-main-row {
  display: flex;
  flex-wrap: nowrap;
}

.banner-clipboard {
  display: flex;
  font-size: 0.9rem;
  .btn {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    text-align: left;
    background-color: $white !important;
    border-width: 0;
    border-color: transparent;
  }
  code {
    color: $cyan !important;
    &:hover {
      color: $cyan !important;
    }
  }
  .fa-copy {
    color: $cyan;
    font-size: 20px;
    padding-top: 10px;
    background-color: transparent;
    &:hover {
      color: $cyan !important;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.banner-platform-learn {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  & > a {
    color: $black;
  }
}

.popup {
  display: inline-block;
  position: absolute;
  top: 190px;
  background-color: $black !important;
  padding: 3px;
  border-radius: 1px;
  p {
    color: $grey94 !important;
    &:hover {
      color: $grey94 !important;
    }
  }
}

.popup.hidden {
  display: none;
}

.banner-redhat-logo {
  margin-left: 10px;
}
