.homepage-automate-band {
  padding-bottom: 2rem;
  margin: 6rem auto;
}

.automate-content {
  h3 {
    font-family: $redhat-display;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    font-family: $redhat-display;
    font-size: 1rem;
    font-weight: normal;
  }
}
