.homepage-learn-band {
  background-color: $white;
}

.learn-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: $white;
  justify-content: stretch;
}

.learn-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  justify-content: space-between;

  h3 {
    font-size: $font-lg;
    font-weight: 600;
    text-transform: none;
    color: $cyan;
  }
  h4 {
    font-size: $font-md;
  }
  p {
    font-size: $font-sm;
    text-transform: none;
    text-align: left;
    margin-bottom:9px;
  }
  a {
    font-size: $font-sm;
    white-space: nowrap;
  }
  .btn {
    color: $navy;
    background-color: $white;
    border-width: 1px;
    border-radius: 2px;
    border-color: $navy;
    width: fit-content;
    height: auto;
    &:hover {
      background-color: $navy;
      color: $white;
    }
  }
}

.learn-logo {
  width: 8rem;
  float: right;
  @media screen and (max-width: 1170px) {
    width: 6rem;
  }
  @media screen and (max-width: 768px) {
    width: 8rem;
  }
}

.learn-ansible {
  font-size: $font-md;
  font-weight: 500;
  padding-top: 1.5rem;
  white-space: nowrap;
  .learn-ansible-link {
    color: $blue-anchor;
    a {
      padding-left: 0.25rem;
    }
  }
}