.homepage-contribute-band {
  background-color: $grey94;
}

.contribute-title {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: $font-xl;
    text-transform: none;
  }
}

.contribute-content {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: $font-md;
    font-weight: bold;
  }
  ul {
    font-size: $font-md;
    list-style-type: circle;
    margin: 0%;
  }
  p {
    font-size: $font-md;
    font-weight: bold;
    padding-top: 1rem;
  }
  a {
    color: $blue-anchor;
  }
}

.contribute-bull {
  display: flex;
  img {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
