.homepage-platform-band {
  margin-top: 0;
  background-color: $white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-family: $redhat-display;
}

.platform-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.platform-box-left {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-top: 5%;
  img {
    width: 400px;
    height: auto;
    float: left;
  }
}

.platform-box-right {
  display: flex;
  flex-direction: column;
  .platform-learn-more {
    a {
      background-color: $red-hat-red;
      color: $white;
      font-size: 0.9rem;
      font-weight: bold;
      &:hover {
        background-color: $red-hat-red;
        color: $black;
      }
    }
    .btn {
      border-radius: 2px;
      padding: 14px;
      width: fit-content;
    }
  }
}
