.homepage-body {
  margin: 0 -13rem;
  padding: 4rem 13rem;

  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 3rem 6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    padding: 2rem 2rem;
  }
}