.homepage-banner-band {
  background-color: transparent;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10px;
}

.banner-row {
  display: flex;
  flex-direction: row;
}

.banner-welcome-image {
flex: 1;
  img {
    width: 350px;
    margin-left: 125px;
  }
}

.banner-main-content {
  border-radius: 10px;
  background-color: $white;
  padding: 2rem;
  flex: 1;
  h2 {
    font-family: $redhat-display;
    font-size: 2rem;
    font-weight: bold;
  }
  & > p{
    font-family: $redhat-display;
    font-size: 1rem;
    font-weight: bold;
  }
}

.banner-main-row  {
  display: flex;
  flex-wrap: nowrap;
  & > *{
    flex: 1;
    width: 100%;
  }
  & > button {
    font-weight: bold;
  }

}

.banner-clipboard {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  text-align: left;
  padding-right: 1rem;
  .btn {
    font-size: 0.9rem;
    background-color: $white !important;
    border-width: 1px;
    border-radius: 2px;
    border-color: $cyan !important;
  }
  code {
    color: $navy !important;
    &:hover {
      color: $cyan !important;
    }
  }
  .fa-copy {
    color: $navy;
    background-color: transparent;
    &:hover {
      color: $cyan !important;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.banner-latest-version {
  font-size: 0.8rem;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.banner-platform-learn {
  font-family: $redhat-display;
  font-weight:bold;
  font-size: 0.9rem;
  padding-top: 1rem;
  & > a {
    color:black
  }
}

.banner-redhat-logo {
  width: auto;
  height: 20px;
  margin: 0 0.6rem;
}

