.homepage-platform-band {
  background-color: $grey94;
  font-size: 1rem;
}

.platform-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.platform-box-left {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 1rem;
  img {
    float: left;
  }
}

.platform-box-right {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  .platform-learn-more {
    a {
      background-color: $red-hat-red;
      color: $white;
      font-size: 0.9rem;
      font-weight: bold;
      &:hover {
        background-color: $red-hat-red;
        color: $black;
      }
    }
    .btn {
      border-radius: 2px;
      padding: 14px;
      width: fit-content;
    }
  }
}

@media screen and (max-width: 768px) {
  .platform-row {
    grid-template-columns: 1fr;
  }

  .platform-box-left {
    align-items: center;
    padding-bottom: 40px;
  }

  .platform-box-right {
    grid-column-start: initial;
    grid-column-end: initial;
    .platform-learn-more {
      .btn {
        width: 100%;
      }
    }
  }
}
