.homepage-events-band {
  background-color: $white;
  text-align: left;
}

.events-content {
  flex: 1;
  a {
    font-size: 1rem;
    color: $black;
    text-transform: none;
  }
  h3 {
    font-size: 1.5rem;
    text-transform: none;
    margin-top: 3rem;
  }
  p {
    text-align: left;
  }
  img {
    width: auto;
    height: auto;
  }
}
