.homepage-community-band {
  background-color: $white;
}

.community-intro {
  p {
    text-align: justify;
    padding-top: 10px;
  }
}

.community-socials {
}

.community-socials-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.community-social-icons {
  margin: 0 auto;
  a {
    font-size: 3rem;
    color: $navy;
  }
}
