.homepage-platform-band {
  background-color: $white;
}

.platform-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.platform-box-left {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

.platform-box-right {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  p {
    font-size: $font-md;
  }
}

@media screen and (max-width: 768px) {
  .platform-row {
    grid-template-columns: 1fr;
  }

  .platform-box-left {
    padding-bottom: 2rem;
  }

  .platform-box-right {
    grid-column-start: initial;
    grid-column-end: initial;
  }
}
