.section-title {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: $font-xl;
    text-transform: none;
    padding-left: 1.25rem;
  }
  p {
    font-size: $font-md;
    text-transform: none;
    padding: 1rem 0;
  }
}

.section-top {
  display: flex;
  align-items: center;
}

.section-icon {
  float: left;
  font-size: $font-xxl;
  text-align: center;
  color: $cyan;
}

.section-view-more {
  font-size: $font-sm;
  text-transform: none;
  margin-left: auto;
}
