.get-started-ansible {
  display: flex;
  align-items: center;
  font-family: $redhat-display;
  text-align: center;
  margin: 5px;
  padding-right: 1rem;
  .btn {
    font-size: 0.9rem;
    font-family: $redhat-display;
    color: $white;
    background-color: $cyan;
    border-width: 1px;
    border-radius: 2px;
    border-color: $cyan;
    &:hover {
      background-color: $white !important;
      color: $navy !important;
    }
  }
}
