.homepage-bullhorn-band {
  margin-top: 0;
  background-color: $pool;
  color: $black;
}

.bullhorn-content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
}

.bullhorn-image {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  margin-left: 20%;
  top: 0;
  right: 0;
}

.bullhorn-subscribe {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-right: 20%;
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
  }
  .subscribe-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
  }
  .subscribe-input {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .button {
    background-color: $cyan;
    color: $white;
    border: 0;
    border-radius: 2px;
    padding: 10%;
    width: fit-content;
    height: 30px;
    text-transform: none;
    text-align: center;
    font-size: 0.8rem;
    &:hover {
      background-color: $white;
      color: $cyan;
    }
  }
}
