.homepage-bullhorn-band {
  background-color: $pool;
  color: $black;
}

.bullhorn-blast {
  display: flex;
  img {
    width: 30rem;
    @media screen and (max-width: 1170px) {
      width: 15rem;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.bullhorn-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: $font-xl;
    padding-bottom: 1.5rem;
  }
  p {
    font-size: $font-lg;
    padding-bottom: 1.5rem;
  }
  .bullhorn-subscribe-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .bullhorn-subscribe .bullhorn-subscribe-row {
    flex-direction: column;
  }
  .homepage-anchor {
    width: 100%;
  }
}
