.homepage-tab-menu-band {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $grey94;
  display: grid;
  grid-template-columns: repeat(5 1fr);
  gap: 20px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.tab-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.tab-menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-lg;
  padding: 1.75rem;
  img {
    float: left;
    width: auto;
    height: 2.5rem;
  }
  p {
    white-space: nowrap;
  }
  &:hover {
    background-color: $white;
    color: $navy;
  }
}
