.homepage-automate-band {
  background-color: $white;
}

.automate-content {
  h3 {
    font-size: $font-md;
    font-weight: bold;
  }
  p {
    font-size: $font-md;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
