/** Global navigation bar properties. **/
.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  text-align: center;
  img {
    width: 50px;
    height: auto;
    margin-right: 16px;
    min-width: 50px;
  }
  #blog-title {
    color: $black;
    font-size: $font-lg;
    &:hover {
      color: $white !important;
    }
  }
  @media screen and (max-width: 992px) {
    #blog-title {
      display: none;
    }
  }
}

/**
Global navigation bar properties.
Set overriding homepage properties in the hero-container class.
**/

.navbar {
  margin-bottom: 0 !important;
  border: 0 !important;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  a {
    font-size: $font-md;
    white-space: nowrap;
  }
  .dropdown-menu {
    background-color: $grey94;
    a {
      color: $black !important;
      padding: 0.75rem 1rem;
      &:hover {
        color: $black !important;
      }
    }
    .dropdown-item.active,
    .dropdown-item:active {
      background-color: $grey94;
    }
  }
  .dropdown-item {
    &:hover {
      background-color: $white !important;
    }
  }
}

.nav-link-color {
  color: $black !important;
  &:hover {
    color: $white !important;
  }
}

.nav-toggle-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
