.training {
  gap: 4rem;
  @media screen and (max-width: 768px) {
    gap: 2rem;
  }
}

.training-title {
  h1 {
    text-align: center;
  }
}

.training-card {
  display: flex;
  padding: 2rem;
  border: 1px;
  border-radius: 5px;
  border-width: 1px;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  justify-content: stretch;
  min-width: fit-content;
}

.training-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-size: $font-lg;
    font-weight: 600;
    text-transform: none;
  }
  p {
    font-size: $font-sm;
    text-transform: none;
    text-align: left;
  }
  a {
    font-size: $font-sm;
  }
}

.training-coming-soon {
  margin-top: 2rem;
}
