@import "colors";
@import "fonts";
@import "font-awesome";
@import "grid-wrapper";
@import "global-container";
@import "bg-pool";
@import "masthead";
@import "nav-bar";
@import "hero-container";
@import "homepage-clickable";
@import "homepage-section-title";
@import "homepage-back-to-top";
@import "homepage-banner-band";
@import "homepage-tab-menu-band";
@import "homepage-ansible-band";
@import "homepage-ecosystem-band";
@import "homepage-community-band";
@import "homepage-blog-band";
@import "homepage-contribute-band";
@import "homepage-bullhorn-band";
@import "homepage-events-band";
@import "homepage-platform-band";
@import "ecosystem";
@import "mission-statement";
@import "training";
@import "ansible-content";

body {
  background: $white;
  color: $black;
  font-weight: normal;
  font-family: $font-text;
  position: relative;
  min-height: 100vh;
  a {
    color: $blue-anchor;
  }
}
h1 {
  font-family: $font-display;
  font-size: $font-jumbo;
  text-transform: none;
}
h2 {
  font-family: $font-display;
  font-size: $font-xxl;
  text-transform: none;
}
h3 {
  font-family: $font-display;
  text-transform: none;
}
h4 {
  font-family: $font-display;
  margin-bottom: 1.2rem;
  text-transform: none;
}
h5 {
  font-family: $font-display;
  text-transform: none;
}
h6 {
  font-family: $font-display;
}

#readthedocs-ea-text-nostyle-nodoctool {
    display: none !important;
}
