@import "colors";
@import "fonts";

.redhat-footer {
  background-color: $black;
  font-family: $font-display;
  display: flex;
  padding: 1rem 13rem;
  margin: 0 -13rem;

  .footer-left {
    flex: 1;
  }

  .footer-left a {
    color: $white;
    font-size: 1rem;
    font-weight: normal;
  }

  .footer-right {
    flex: 1;
    text-align: right;
  }

  .redhat {
    grid-column: 9/12;
    align-self: center;
    justify-self: end;
    font-size: 0.75rem;
    font-weight: normal;
    color: $white;
    @media screen and (max-width: 1024px) {
      grid-column: 5/12;
      justify-self: right;
    }
    @media screen and (max-width: 480px) {
      grid-column: 1/13;
      justify-self: center;
      order: 2;
    }
  }
  .redhat-logo {
    grid-column: 12/13;
    justify-self: end;
    align-self: center;
    @media screen and (max-width: 480px) {
      grid-column: 1/13;
      justify-self: center;
      order: 1;
    }
  }
}

.footer-left-links {
  list-style-type: none;
  padding-left: unset;
  li {
    display: inline;
    margin-right: 1rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1170px) {
  .footer-container {
    padding: 0 6rem;
  }

  .redhat-footer {
    padding: 1rem 6rem;
    margin: 0 -6rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0 2rem;
  }

  .redhat-footer {
    padding: 1rem 2rem;
    margin: 0 -2rem;
  }

  .footer-left-links li {
    display: block;
  }
}
