<div class="get-started-nav">
  <a href="{{ homepage.links.ansible.get_started_url }}" target="_blank">
    <button class="btn text-nowrap">
      <i class="fa fa-rocket"></i>&ensp;{{ homepage.labels.get_started }}
    </button>
  </a>
</div>
