{# -*- coding: utf-8 -*- #}
{% macro html_footer() %}
  {% if content_footer %}
    <div class="content-slim redhat-footer">
      <div class="footer-left">
        <ul class="footer-left-links">
          <li>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/"
               target="_blank">CC BY-SA 4.0</a>
          </li>
          <li>
            <a href="https://www.redhat.com/en/about/privacy-policy" target="_blank">Privacy policy</a>
          </li>
          <li>
            <a href="https://docs.ansible.com/ansible/latest/community/code_of_conduct.html"
               target="_blank">Code of conduct</a>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <span class="redhat">Sponsored by</span>
        <span class="redhat-logo">
          <a href="{{ homepage.links.platform.url }}" target="_blank">
            <img src="/assets/images/redhat_reversed.svg"
                 alt="Red Hat logo."
                 width="96"
                 height="28" />
          </a>
        </span>
      </div>
    </div>
  {% endif %}
{% endmacro %}
