<div class="grid-wrapper homepage-feature-band">
  <div class="width-12-12 width-12-12-m">
    <div class="box">
      <img class="feature" src="/assets/images/automation.svg">
      <p>{{ homepage.automation }}</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/extensible.svg">
      <p>{{ homepage.extensible }}</p>
    </div>
    <div class="box">
      <img class="feature" src="/assets/images/community.svg">
      <p>{{ homepage.community }}</p>
    </div>
  </div>
</div>
