<div class="grid-wrapper homepage-ansible-band">
  <div class="width-7-12 width-12-12-m">
    <h2>{{ homepage.main }}</h2>
    <p>{{ homepage.mission }}</p>
  </div>
  <div class="width-5-12 width-12-12-m">
    <h3>{{ homepage.version }}</h3>
    <div class="clipboard">
      <pre><code id="clip">{{ homepage.install }}</code><button class="btn text-nowrap" data-clipboard-action="copy" data-clipboard-target="#clip">
        <i class="fa fa-copy" aria-hidden="true"></i></button>
      </pre>
    </div>
  </div>
</div>
