<div class="grid-wrapper homepage-platform-band">
  <div class="width-4-12 width-12-12-m">
    <img class="page-logo" src="/images/platform.svg">
  </div>
  <div class="width-8-12 width-12-12-m">
    <p>{{ homepage.platform.main }}</p>
    <p>{{ homepage.platform.discover }}</p>
    <div class="learn-more">
      <a class="btn" href="{{ homepage.links.platform.home }}" role="button">{{ homepage.platform.learn }}</a>
    </div>
  </div>
</div>
