{% extends "base.tmpl" %}
{% block content %}
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <div class="community-title">
        <h2>{{ homepage.community_page.title }}</h2>
        <p>{{ homepage.community_page.intro }}</p>
      </div>
    </div>
    <!-- Start community member journey. -->
    {% for key, value in community.milestones.items() -%}
      <div class="width-6-12 width-12-12-m community-sections">
        <h3>{{ value.title }}</h3>
        <div class="btn-group-vertical"
             role="group"
             aria-label="{{ homepage.labels.button_group }}">
          {%- for action_key, action_value in value.actions.items() %}
            <div class="doc-link-row doc-link">
              <i class="fas fa-book"></i><a class="btn" href="{{ action_value.link }}" role="button">{{ action_value.label }}</a>
            </div>
          {%- endfor %}
        </div>
      </div>
    {% endfor -%}
    <!-- End community member journey. -->
  </div>
{% endblock content %}
