{% extends "base.tmpl" %}
{% block content %}
  <div class="grid-wrapper ecosystem-page">
    <div class="width-12-12 width-12-12-m ecosystem-page-title">
      <h1>{{ homepage.ecosystem_page.title }}</h1>
      <p>{{ homepage.ecosystem_page.intro }}</p>
    </div>
    <!-- Start ecosystem projects -->
    {% for key, item in ecosystem.items() %}
      <div class="ecosystem-project-card width-6-12 width-12-12-m">
        <div class="ecosystem-project-content">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <ul>
            {% for key, item in item.resources.items() %}
              <li>
                <a href="{{ item.link }}" target="_blank">{{ item.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <img class="ecosystem-project-logo"
             src="/images/{{ item.logo }}"
             alt="{{ item.alt }}"
             width="100"
             height="100" />
      </div>
    {% endfor %}
    <!-- End ecosystem projects -->
  </div>
{% endblock content %}
