<div class="grid-wrapper homepage-banner-band">
  <div class="width-12-12 width-12-12-m">
    <div class="banner-row">
      <div class="banner-main-content">
        <h1>{{ homepage.banner.title }}</h1>
        <h2>{{ homepage.banner.intro }}</h2>
        <p>{{ homepage.banner.welcome_alt }}</p>
        <div class="banner-join-forum">
          <span class="banner-forum-link"><a href="{{ homepage.banner.forum_url }}">{{ homepage.banner.join_forum }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
        </div>
      </div>
      <div class="banner-welcome-image">
        <img src="/images/ansible-collaborative-hero-img.svg"
             alt="{{ homepage.banner.welcome_alt }}"
             width="350"
             height="300" />
      </div>
    </div>
  </div>
</div>
