{% extends "base.tmpl" %}
{% block hero_content %}
  <div class="hero-container">
    {% include "base_nav.tmpl" %}
    {% include "homepage-banner-band.tmpl" %}
  </div>
{% endblock hero_content %}
{% block homepage_content %}
  {% include "homepage-tab-menu-band.tmpl" %}
  {% include "homepage-ansible-band.tmpl" %}
  {% include "homepage-users-band.tmpl" %}
  {% include "homepage-developers-band.tmpl" %}
  {% include "homepage-maintainers-band.tmpl" %}
  {% include "homepage-bullhorn-band.tmpl" %}
  {% include "homepage-ecosystem-band.tmpl" %}
  {% include "homepage-contribute-band.tmpl" %}
  {% include "homepage-platform-band.tmpl" %}
{% endblock homepage_content %}
