<div class="grid-wrapper homepage-tab-menu-band full-width-band">
  <div class="tab-menu-row width-12-12 width-12-12-m">
    <!-- Ansible section -->
    <a class="tab-menu-anchor" href="#get_started" role="button">
      <i class="fas fa-rocket tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.get_started }}</p>
    </a>
    <!-- Users -->
    <a class="tab-menu-anchor" href="#users" role="button">
      <i class="fas fa-cogs tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.users }}</p>
    </a>
    <!-- Developers -->
    <a class="tab-menu-anchor" href="#developers" role="button">
      <i class="fas fa-terminal tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.developers }}</p>
    </a>
    <!-- Maintainers -->
    <a class="tab-menu-anchor" href="#maintainers" role="button">
      <i class="fas fa-screwdriver-wrench tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.maintainers }}</p>
    </a>
    <!-- Ecosystem section -->
    <a class="tab-menu-anchor" href="#ecosystem" role="button">
      <i class="fas fa-circle-nodes tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.ecosystem }}</p>
    </a>
    <!-- Contribute section -->
    <a class="tab-menu-anchor" href="#contribute" role="button">
      <i class="fas fa-hands-helping tab-menu-icon"></i>
      <p>{{ homepage.tab_menu.contribute }}</p>
    </a>
  </div>
</div>
