<div class="get-started-ansible">
  <a href="{{ homepage.links.ansible.get_started_url }}" target="_blank">
    <button class="btn text-nowrap"
            title="{{ homepage.labels.get_started_tooltip }}">{{ homepage.labels.get_started }}</button>
  </a>
</div>
