<div class="grid-wrapper homepage-community-band homepage-body" id="community">
  <div class="width-12-12 width-12-12-m">
    <div class="section-title">
      <div class="section-top">
        <img class="section-icon" src="{{ homepage.community.section_icon }}" />
        <h2>{{ homepage.community.title }}</h2>
      </div>
    </div>
    <div class="community-intro">
      <p>{{ homepage.community.ansible_community }}</p>
    </div>
    <div class="community-socials">
      <div class="community-socials-row">
        {% for key, item in homepage.community.socials.links.items() %}
        <div class="community-social-icons">
          <a href="{{ item.url }}" title="{{ item.alt }}"><i class="{{ item.icon }}" aria-hidden="true"></i></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include 'homepage-back-to-top.tmpl' %}
</div>
