<div class="grid-wrapper homepage-contribute-band homepage-body" id="contribute">
  <div class="width-12-12 width-12-12-m">
    <div class="section-title">
      <div class="section-top">
        <img class="section-icon" src="{{ homepage.contribute.section_icon }}" />
        <h2>{{ homepage.contribute.title }}</h2>
        <div class="section-view-more">
          <a href="{{ homepage.contribute.url }}">{{ homepage.labels.learn_more }}&ensp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="contribute-content">
      <div class="contribute-box-left">
        <h3>{{ homepage.contribute.heading }}</h3>
        {% for item in homepage.contribute.ways %}
        <ul>
          <li>{{ item }}</li>
        </ul>
        {% endfor %}
        <p>{{ homepage.contribute.main }}</p>
      </div>
      <div class="contribute-box-right">
        <img src="/images/bull-builder.svg" alt="Ansible bull builder mascot." />
      </div>
    </div>
  </div>
  {% include 'homepage-back-to-top.tmpl' %}
</div>
