<div class="grid-wrapper homepage-platform-band homepage-body"
     id="platform">
  <div class="width-12-12 width-12-12-m">
    <div class="platform-row">
      <div class="platform-box-left">
        <img src="/images/platform.svg"
             alt="{{ homepage.platform.logo_alt }}"
             width="400"
             height="120" />
      </div>
      <div class="platform-box-right">
        <p>{{ homepage.platform.main }}</p>
        <p>{{ homepage.platform.discover }}</p>
        <div class="platform-learn-more">
          <a class="btn" href="{{ homepage.links.platform.home }}" role="button">{{ homepage.platform.learn }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
