<div class="grid-wrapper homepage-adoption-band full-width-band"
     id="adoption">
  <div class="section-title width-8-12 width-12-12-m">
    <div class="section-top">
      <h2>{{ homepage.adoption.title }}</h2>
    </div>
    <div class="what-is-adoption max-width-prose">
      <p>{{ homepage.adoption.intro }}</p>
    </div>
    <div class="what-is-adoption max-width-prose">
      <span class="homepage-link"><a href="{{ homepage.adoption.url }}">Learn more</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
    </div>
  </div>
</div>
