<div class="grid-wrapper homepage-welcome-band full-width-band"
     id="welcome">
  <div class="width-8-12 width-12-12-m welcome-box-left max-width-prose">
    <h2>{{ homepage.welcome.title }}</h2>
    <p>{{ homepage.welcome.intro }}</p>
  </div>
  <div class="width-4-12 width-12-12-m welcome-box-right">
    <iframe title="{{ homepage.welcome.video_title }}"
            src="{{ homepage.welcome.url }}" />
  </div>
</div>
