<div class="grid-wrapper homepage-contribute-band" id="contribute">
  <div class="width-12-12 width-12-12-m">
    <div class="section-title">
      <div class="section-top">
        <img class="section-icon" src="{{ homepage.contribute.section_icon }}" />
        <h2>{{ homepage.contribute.title }}</h2>
      </div>
    </div>
  </div>
  <div class="contribute-content">
    <div class="contribute-row">
      <div class="contribute-box-left">
        <h3>{{ homepage.contribute.heading }}</h3>
        {% for item in homepage.contribute.ways %}
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i>&nbsp;{{ item }}</li>
        </ul>
        {% endfor %}
      </div>
    <div class="contribute-box-right">
      <p>{{ homepage.contribute.main }}</p>
      <a href="{{ homepage.contribute.link }}">
        <img src="/assets/images/conversation.svg" alt="Join us on the forum to talk about contributing to Ansible." />
      </a>
    </div>
    </div>
  </div>
  {% include 'homepage-back-to-top.tmpl' %}
</div>
