<div class="grid-wrapper homepage-bullhorn-band full-width-band">
  <div class="bullhorn-blast width-4-12 width-12-12-m">
    <img src="/images/bullhorn_subscribe.svg"
         alt="{{ homepage.bullhorn.subscribe_alt }}"
         width="230"
         height="180" />
  </div>
  <div class="bullhorn-subscribe width-8-12 width-12-12-m">
    <h2>{{ homepage.bullhorn.title }}</h2>
    <p>{{ homepage.bullhorn.about }}</p>
    <div class="bullhorn-subscribe-row">
      <a class="homepage-anchor"
         href="{{ homepage.bullhorn.forum_link }}"
         role="button"
         target="_blank">{{ homepage.bullhorn.forum_text }}</a>
      <a class="homepage-anchor"
         href="{{ homepage.bullhorn.mailchimp_link }}"
         role="button"
         target="_blank">{{ homepage.bullhorn.subscribe }}&ensp;<i class="fab fa-mailchimp" aria-hidden="true" /></a>
    </div>
  </div>
</div>
