<div class="grid-wrapper homepage-catalyst-band full-width-band"
     id="ecosystem">
  <div class="section-title width-12-12 width-12-12-m">
    <div class="section-top">
      <img class="section-icon"
           src="{{ homepage.catalyst.section_icon }}"
           alt="{{ homepage.catalyst.icon_alt }}"
           width="40"
           height="40" />
      <h2>{{ homepage.catalyst.title }}</h2>
    </div>
    <p>{{ homepage.catalyst.intro }}</p>
  </div>
  {% for key, item in homepage.catalyst.articles.items() %}
    <div class="catalyst-card width-6-12 width-12-12-m">
      <div class="catalyst-content">
        <h3>{{ item.heading }}</h3>
        <p>{{ item.description }}</p>
        <p>{{ item.data_title }}</p>
        <p>{{ item.data_body }}</p>
        <span class="homepage-link"><a href="{{ item.link }}" target="_blank">{{ homepage.labels.learn_more }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
      </div>
    </div>
  {% endfor %}
  {% include "homepage-back-to-top.tmpl" %}
</div>
