<div class="grid-wrapper homepage-ansible-band full-width-band"
     id="ansible">
  <div class="section-title width-8-12 width-12-12-m">
    <div class="section-top">
      <h2>{{ homepage.ansible.title }}</h2>
    </div>
    <div class="what-is-ansible max-width-prose">
      <p>{{ homepage.ansible.intro }}</p>
      <p>{{ homepage.ansible.body1 }}</p>
      <p>{{ homepage.ansible.body2 }}</p>
    </div>
    <div class="what-is-ansible max-width-prose">
      <span class="homepage-link"><a href="{{ homepage.ansible.join_url }}">{{ homepage.ansible.join }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
    </div>
  </div>
</div>
