<div class="grid-wrapper homepage-platform-band full-width-band"
     id="platform">
  <div class="width-12-12 width-12-12-m">
    <div class="platform-row">
      <div class="platform-box-left">
        <a href="{{ homepage.links.platform.use_cases }}" target="_blank">
          <img src="/images/platform.svg"
               alt="{{ homepage.platform.logo_alt }}"
               width="500"
               height="150" />
        </a>
      </div>
      <div class="platform-box-right max-width-prose">
        <p>{{ homepage.platform.main }}</p>
        <p>{{ homepage.platform.discover }}</p>
        <a class="homepage-anchor platform-anchor"
           href="{{ homepage.links.platform.home }}"
           role="button"
           target="_blank">{{ homepage.platform.learn }}</a>
      </div>
    </div>
  </div>
</div>
