<div class="grid-wrapper homepage-events-band full-width-band" id="events">
  <div class="section-title width-12-12 width-12-12-m">
    <div class="section-top">
      <img class="section-icon"
           src="{{ homepage.events.section_icon }}"
           alt="{{ homepage.events.icon_alt }}"
           width="40"
           height="40" />
      <h2>{{ homepage.events.title }}</h2>
      <div class="section-view-more">
        <a href="{{ homepage.events.url }}">{{ homepage.labels.view_more }}&ensp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <p>{{ homepage.events.intro }}</p>
  </div>
  {% for event_key, event_data in homepage.events.events_list.items() %}
    <div class="events-content width-6-12 width-12-12-m">
      <div class="event-image">
        <a href="{{ event_data.link }}">
          <img src="/images/events/{{ event_data.image }}"
               alt="{{ event_data.alt }}"
               width="auto"
               height="auto" />
        </a>
      </div>
      <a href="{{ event_data.link }}">
        <h3>{{ event_data.name }}</h3>
      </a>
      <div class="event-description">
        <p>{{ event_data.description }}</p>
      </div>
      <div class="event-details">
        <p>
          <strong>Date:&ensp;{{ event_data.date }}
            <br />
          Location:&ensp;{{ event_data.location }}</strong>
        </p>
      </div>
    </div>
  {% endfor %}
  {% include "homepage-back-to-top.tmpl" %}
</div>
