{% extends "base.tmpl" %}
{% block content %}
  <div class="container">
    {% include 'homepage-ansible-band.tmpl' %}
    {% include 'homepage-bullhorn-band.tmpl' %}
    {% include 'homepage-platform-band.tmpl' %}
  </div>
{% endblock %}
