<div class="grid-wrapper homepage-bullhorn-band full-width-band">
  <div class="bullhorn-blast width-4-12 width-12-12-m">
    <img src="/images/bullhorn_subscribe.svg"
         alt="{{ homepage.bullhorn.subscribe_alt }}"
         width="230"
         height="180" />
  </div>
  <div class="bullhorn-subscribe width-8-12 width-12-12-m">
    <h2>{{ homepage.bullhorn.title }}</h2>
    <p>{{ homepage.bullhorn.about }}</p>
    <div class="bullhorn-subscribe-row">
      <div class="bullhorn-link">
        <a href="{{ homepage.bullhorn.forum_link }}"
           target="_blank"
           role="button">{{ homepage.bullhorn.forum_text }}</a>
      </div>
      <div class="bullhorn-link">
        <a href="{{ homepage.bullhorn.forum_feed }}"
           target="_blank"
           role="button">{{ homepage.bullhorn.subscribe }}&ensp;<i class="fa fa-rss" aria-hidden="true" /></a>
      </div>
    </div>
  </div>
</div>
