<div class="grid-wrapper homepage-platform-band full-width-band"
     id="platform">
  <div class="section-title width-12-12 width-12-12-m">
    <div class="platform-row">
      <div class="platform-box-left">
        <img src="/images/logo-red_hat-aap.png"
             alt="{{ homepage.platform.logo_alt }}"
             width="250"
             height="50" />
        <h3>{{ homepage.platform.main }}</h3>
        <p>{{ homepage.platform.discover }}</p>
        <b><a href="{{ homepage.platform.learn_link }}" target="_blank">{{ homepage.platform.learn }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></b>
      </div>
      <div class="platform-box-right max-width-prose">
        <img src="/images/ansible-collaborative-A.png"
             alt="{{ homepage.platform.logo_alt }}"
             width="330"
             height="150" />
      </div>
    </div>
  </div>
</div>
