<div class="grid-wrapper homepage-tab-menu-band full-width-band">
  <div class="tab-menu-row width-12-12 width-12-12-m">
    <!-- Ansible menu button -->
    <a href="#ansible" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.ansible.section_icon }}"
             alt="{{ homepage.ansible.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.ansible.title }}</p>
      </div>
    </a>
    <!-- Ecosystem menu button -->
    <a href="#ecosystem" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.ecosystem.section_icon }}"
             alt="{{ homepage.ecosystem.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.ecosystem.title }}</p>
      </div>
    </a>
    <!-- Community menu button -->
    <a href="#community" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.community.section_icon }}"
             alt="{{ homepage.community.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.community.title }}</p>
      </div>
    </a>
    <!-- Blog menu item -->
    <a href="#blog" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.blog.section_icon }}"
             alt="{{ homepage.blog.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.blog.title }}</p>
      </div>
    </a>
    <!-- Contribute menu item -->
    <a href="#contribute" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.contribute.section_icon }}"
             alt="{{ homepage.contribute.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.contribute.title }}</p>
      </div>
    </a>
    <!-- Events menu item -->
    <a href="#events" role="button">
      <div class="tab-menu-box">
        <img src="{{ homepage.events.section_icon }}"
             alt="{{ homepage.events.icon_alt }}"
             width="40"
             height="40" />
        <p>{{ homepage.events.title }}</p>
      </div>
    </a>
  </div>
</div>
