<div class="grid-wrapper homepage-welcome-band full-width-band"
     id="ansible">
  <div class="section-title width-8-12 width-12-12-m">
    <div class="section-top">
      <h2>{{ homepage.welcome.title }}</h2>
    </div>
    <p>{{ homepage.welcome.intro }}</p>
  </div>
  <div class="ansible-image width-4-12 width-12-12-m">
    <iframe width="420" height="300" src="https://www.youtube.com/embed/zHrIo4E1HmY?si=aXMEyR14P_6gKoj2">
    </iframe>
  </div>
  {% include "homepage-back-to-top.tmpl" %}
</div>
