<div class="grid-wrapper homepage-tab-menu-band">
  <div class="width-12-12 width-12-12-m">
    <div class="tab-menu-row">
      <div class="tab-menu-box">
        <!-- Automate menu button -->
        <a href="#automate">
          <button class="btn text-nowrap">
            <img src="{{ homepage.automate.section_icon }}" />&nbsp;{{ homepage.automate.title }}
          </button>
        </a>
      </div>
      <div class="tab-menu-box">
        <!-- Ecosystem menu button -->
        <a href="#ecosystem">
          <button class="btn text-nowrap">
            <img src="{{ homepage.ecosystem.section_icon }}" />&nbsp;{{ homepage.ecosystem.title }}
          </button>
        </a>
      </div>
      <div class="tab-menu-box">
        <!-- Community menu button -->
        <a href="#community">
          <button class="btn text-nowrap">
            <img src="{{ homepage.community.section_icon }}" />&nbsp;{{ homepage.community.title }}
          </button>
        </a>
      </div>
      <div class="tab-menu-box">
        <!-- Blog menu item -->
        <a href="#blog">
          <button class="btn text-nowrap">
            <img src="{{ homepage.blog.section_icon }}" />&nbsp;{{ homepage.blog.title }}
          </button>
        </a>
      </div>
      <div class="tab-menu-box">
        <!-- Contribute menu item -->
        <a href="#contribute">
          <button class="btn text-nowrap">
            <img src="{{ homepage.contribute.section_icon }}" />&nbsp;{{ homepage.contribute.title }}
          </button>
        </a>
      </div>
      <div class="tab-menu-box">
        <!-- Events menu item -->
        <a href="#events">
          <button class="btn text-nowrap">
            <img src="{{ homepage.events.section_icon }}" />&nbsp;{{ homepage.events.title }}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
