<div class="grid-wrapper homepage-banner-band">
  <div class="width-12-12 width-12-12-m">
    <div class="banner-row">
      <div class="banner-main-content">
        <h1>{{ homepage.banner.title }}</h1>
        <p>{{ homepage.banner.intro }}</p>
        <div class="banner-main-row">
          <div class="banner-start-ansible">
            <a href="{{ homepage.links.ansible.get_started_url }}"
               target="_blank"
               role="button">{{ homepage.labels.get_started }}</a>
          </div>
          <div class="banner-clipboard">
            <button class="btn text-nowrap"
                    data-clipboard-text="{{ homepage.banner.pip_install }}">
              {{ homepage.banner.pip_install }}&ensp;<i class="fa fa-copy" aria-hidden="true" />
            </button>
            <div id="clipboard-popup" class="popup hidden">
              <p>{{ homepage.banner.copy_success_message }}</p>
            </div>
          </div>
        </div>
        <div class="banner-platform-learn">
          <a href="{{ homepage.links.platform.home }}">
            <img class="banner-redhat-logo"
                 src="/images/redhat.svg"
                 alt="{{ homepage.banner.redhat_logo_alt }}"
                 width="20"
                 height="20" />
            {{ homepage.platform.learn }}
          </a>
        </div>
      </div>
      <div class="banner-welcome-image">
        <img src="/images/bullito_welcome.svg"
             alt="{{ homepage.banner.welcome_alt }}"
             width="350"
             height="300" />
      </div>
    </div>
  </div>
</div>
