<div class="width-12-12 width-12-12-m">
  <div class="back-to-top">
    <span class="homepage-link"><a href="#top">{{ homepage.labels.back_to_top }}</a>&ensp;<i class="fa fa-arrow-up" aria-hidden="true" /></span>
  </div>
</div>
