{% extends "base.tmpl" %}
{% block content %}
  <div class="grid-wrapper mission-statement-title">
    <div class="width-12-12 width-12-12-m">
      <h1>Our mission</h1>
    </div>
  </div>
  <div class="grid-wrapper mission-statement-body">
    <div class="width-12-12 width-12-12-m">
      <p>
        In the Ansible community, our mission is to <b>produce</b>, <b>maintain</b>, and <b>popularize simple</b>, <b>flexible</b>, and <b>powerful open-source software tools</b> tailored to automating a large variety of tasks.
      </p>
      <p>
        We strive to innovate in making infrastructure configuration and management as <b>effortless</b> and <b>efficient</b> as possible with automation, enabling people to focus on their core objectives.
      </p>
      <p>
        We welcome members from all skill levels to participate in our open, inclusive, and vibrant community. Whether you are an expert or just beginning your journey with Ansible, you are encouraged to contribute, share insights, and collaborate with fellow enthusiasts!
      </p>
    </div>
    <div class="mission-statement-image-row">
      <img class="mascot-right-margin"
           src="/images/mascot-picket-one.svg"
           width="auto"
           height="250px"
           alt="Ansible community mascot" />
      <img src="/images/mascot-picket-two.svg"
           width="auto"
           height="250px"
           alt="Ansible community mascot" />
      <img src="/images/mascot-picket-three.svg"
           width="auto"
           height="250px"
           alt="Ansible community mascot" />
    </div>
  </div>
{% endblock content %}
