{% extends "base.tmpl" %}
{% block content %}
  <div class="grid-wrapper training">
    <div class="training-title width-12-12 width-12-12-m">
      <h1>Ansible Community Training</h1>
      <p>
        Experiment, learn, and solve real-world problems with pre-configured Ansible environments that run in your browser and at your convenience.
      </p>
    </div>
    {% for key, item in training.community_cards.items() %}
      <div class="training-card width-6-12 width-12-12-m">
        <div class="training-content">
          <h2>{{ item.heading }}</h2>
          <p>{{ item.description }}</p>
          <span class="homepage-link"><a href="{{ item.lab_url }}" target="_blank">{{ training.labels.launch }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
        </div>
      </div>
    {% endfor %}
    <div class="training-coming-soon width-12-12 width-12-12-m">
      <h2>Coming soon!</h2>
      <p>New courses and learning resources will become available when they are completed.</p>
    </div>
  </div>
{% endblock content %}
